org: walldba
app: serverless-cryptocurrency-price-monitor
service: serverless-cryptocurrency-price-monitor

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x
  environment:
    CRYPTO_BASE_URL: 'https://www.mercadobitcoin.net/api/'
    CURRENCY: 'BTC'
    PERCENTAGE_VALUE: '0.01'
    DYNAMODB_PRICES_TABLE: 'cryptocurrency_prices'
    DYNAMODB_OSCILLATIONS_TABLE: 'cryptocurrency_oscillations'

  iam:
    role:
      statements:
      - Effect: Allow
        Action:
          - dynamodb:GetItem
          - dynamodb:Query
          - dynamodb:PutItem
          - dynamodb:ListStreams
          - dynamodb:DescribeStream
        Resource: "*"

plugins:
  - serverless-offline

resources:
  Resources:
    CryptoPricesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_PRICES_TABLE}
        AttributeDefinitions:
          - AttributeName: currency
            AttributeType: S
          - AttributeName: price
            AttributeType: S
        KeySchema:
          - AttributeName: currency
            KeyType: HASH
          - AttributeName: price
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
          
    CryptoOscillationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_OSCILLATIONS_TABLE}
        AttributeDefinitions:
          - AttributeName: currency
            AttributeType: S
          - AttributeName: oscillation
            AttributeType: S
        KeySchema:
          - AttributeName: currency
            KeyType: HASH
          - AttributeName: oscillation
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_IMAGE

functions:
  getPrice:
    handler: src/index.getPriceJob
    events:
      - schedule: rate(1 minute)

  dynamoTrigger:
    handler: src/index.dynamoTrigger
    events:
      - stream:
          enabled: true
          type: dynamodb
          arn:
            Fn::GetAtt:
              - CryptoOscillationsTable
              - StreamArn
